{% extends 'base.html.twig' %}

{% block title %}Éditer une chambre{% endblock %}

{% block body %}


    <div class="container">
        {% include "chambre/form_chambre.html.twig" %}
    </div>

{% endblock %}