{% extends 'base.html.twig' %}

{% block title %}Éditer une chambre{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container">
            {% include "chambre/form_chambre.html.twig" %}
        </div>
    {% endif %}
{% endblock %}