{% extends 'base.html.twig' %}
{% block title %}Accueil - Hôtel{% endblock %}
{% block body %}
    <h1>Bienvenue sur le Gestionnaire de l'Hotêl</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi consequatur consequuntur dignissimos
        dolor dolorum exercitationem facilis harum hic ipsa ipsum nesciunt obcaecati odio officiis, quaerat repellat soluta
        tempora, tempore totam! Adipisci assumenda beatae cum dolores et, optio qui.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi consequatur consequuntur dignissimos
        dolor dolorum exercitationem facilis harum hic ipsa ipsum nesciunt obcaecati odio officiis, quaerat repellat soluta
        tempora, tempore totam! Adipisci assumenda beatae cum dolores et, optio qui.</p>

{% endblock %}