{% extends 'base.html.twig' %}
{% block title %}Accueil - Hôtel{% endblock %}
{% block body %}
    <h1>Bienvenue sur le Gestionnaire de l'Hotêl</h1>

    <p>Vous retrouverez ci-dessus les menus correspondants à vos droits et à l'exercice de votre travail. La gestion des chambres,
    la gestion des employés et la possibilité de créer, modifier ou supprimer des chambres ainsi que des employés.</p>

{% endblock %}