{% extends 'base.html.twig' %}

{% block title %}Ajouter une chambre{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container">
            {% include "employe/form_employe.html.twig" %}
        </div>
    {% endif %}
{% endblock %}