{% extends 'base.html.twig' %}

{% block title %}Éditer une chambre{% endblock %}

{% block body %}

    <div class="container">
        {% include "employe/form_employe.html.twig" %}
    </div>

{% endblock %}